 </div>
   <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 - Built By Darren N.
           //<a href="https:generalassemb.ly/" target="_blank">General Assembly</a>
      </p>

    </div>


  </div>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $('h4').addClass('animated flipInX');
    $('#setNick').addClass('animated slideInLeft');
    $('.well').addClass('animated slideInLeft');
    $('#form').addClass('animated slideInUp');
    $('#userList').addClass('animated slideInRight');



  $(function () {
      const socket = io();
        const $nickForm=$('#setNick');
        const $nickError=$('#nickError');
        const $nickBox=$('#nickname');
        const $users=$('#users');
        // const $messageForm=$('#send-message');
        // const $messageBox=$('#message');
        // const $chat=$('#chat');



 $('#sendForm').submit(function(e){
  e.preventDefault();
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
      // when there is a new message, append it to the chat screen
      socket.on('chat message', function(message){
      $('#messages').append($('<li>').addClass('animated fadeInUp').text(message.nick +": "+ message.msg));
      $('#messages').scrollTop($('#messages')[0]);
    });

         /* submits nickname and redirects to chat room if name is available. */
        $nickForm.submit(function(e){
            e.preventDefault();
            socket.emit('new user',$nickBox.val(),function(name){
              console.log('jquery $nickForm Value: ' + name);
                if(name){
                  $('#nickWrap').hide();
                  $('#contentWrap').show();
                    $nickBox.val('');

                }else {
                    $nickError.html('Username already in use. Try another name.');
                }
                });

            });

            //List of users
        socket.on('usernames', function(nicknames){
            let html = '';
            for(i=0; i < nicknames.length; i++){
                html+= nicknames[i] + '<br/>'
                }
            $users.append(html);
            //$showName.append(html);
        });


        {/*$messageForm.submit(function(e){
            e.preventDefault();
            socket.emit('send message', $messageBox.val());
            $messageBox.val('');
        });

        socket.on('new message', function(message){
            $chat.append('<span class="glyphicon glyphicon-user"></span>'+"   "+'<b>' + message.nick +  ' : </b>'+ message.msg + "<br/>");
        }); */}
     });
});
    </script>
</script>
</body>
</html>
