  <% include ./partials/header %>

<h4>Chatroom</h4>
<div ide="nickWrap">
<form id="setNick">
        <div>
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input id="nickname" autocomplete="off" placeholder="Username"/>
            <button id="button">Send</button>

        </div>
</form>
</div>

<div id="chatroomWrap">
  <div class="well well-lg">
    <ul id="messages"></ul>
  </div>
      <div id="form">
        <form action="">
          <input id="m" autocomplete="off" />
          <button id="button">Send</button>
        </form>
      </div>
  </div>
  <br>

   <div>
      <div class="panel panel-default">
        <div class="panel-heading"><center>Users in Room</center>
          </div>
            <div class="panel-body" id="users">
            </div>
      </div>
  </div>


  <% include ./partials/footer %>
