  <% include ./partials/header %>

<h1>Chatroom</h1>
<div class="well well-lg">
<ul id="messages"></ul>
</div>
  <div id="form">
    <form action="">
      <input id="m" autocomplete="off" />
      <button id="button">Send</button>
    </form>
  </div>
  <br>

   <div>
                        <div class="panel panel-default">
                        <div class="panel-heading"><center>Users in Room</center></div>
                        <div class="panel-body" id="users"></div>
                    </div>
                    </div>


  <% include ./partials/footer %>
