<% include ./partials/header.ejs %>

<a href='/app'> Enter Chat</a>
 <form id="setNick">
        <div>
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <input id="nickname" autocomplete="off" placeholder="Username"/>
            <button id="button">Send</button>

        </div>
</form>
<% include ./partials/footer.ejs %>
