 </div>
   <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Built By Darren N.
           <a href="https://generalassemb.ly/" target="_blank" >General Assembly</a>
      </p>

    </div>


  </div>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $('h1').addClass('animated flipInX')
    $('.well').addClass('animated slideInLeft');
    $('#form').addClass('animated slideInUp');

});

  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
      // when there is a new message, append it to the chat screen
      socket.on('chat message', function(msg){
      $('#messages').append($('<li>').addClass('animated fadeInUp').text(msg));
      $('#messages').scrollTop($('#messages')[0].scrollHeight);
    });

  });
</script>
</body>
</html>
